body{
font-family:Consolas;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.card{
width:90%;
max-width:400px;
background:#1e293b;
padding:25px;
border-radius:18px;
text-align:center;
}

input, button{
width:80%;
max-width:300px;
padding:16px;
margin:14px auto 0 auto;
display:block;
border-radius:12px;
border:none;
font-size:18px;
}

button{
background:#22c55e;
color:white;
}

/* Estilos din치micos para P5 */
.multi-inputs{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin:14px 0;
}

.multi-inputs input{
    width:20%;
    text-align:center;
}

/* Estilos din치micos para P6 */
.color-inputs{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin:14px 0;
}

.color-inputs div{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.color-inputs select{
    padding:8px;
    border-radius:8px;
    border:none;
    font-size:16px;
}

#pageTitle{
    font-family: 'Horizon', sans-serif;
    font-weight:700;
    font-size:2rem;
    margin-bottom:20px;
}

#validateBtn{
    font-family: 'Consolas', sans-serif;
    font-weight:700;
    /* El resto de propiedades del bot칩n ya est치n en button{} */
}

.ok{color:#4ade80;margin-top:20px;}
.fail{color:#f87171;margin-top:20px;}



