body{
font-family:Consolas;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.card{
width:90%;
max-width:400px;
background:#1e293b;
padding:25px;
border-radius:18px;
text-align:center;
}

input, button{
width:80%;
max-width:300px;
padding:16px;
margin:14px auto 0 auto;
display:block;
border-radius:12px;
border:none;
font-size:18px;
}

button{
background:#22c55e;
color:white;
}

/* Estilos dinámicos para P5 */
.multi-inputs{
    display:flex;
    flex-direction: column; 
    gap:12px;               
    margin:14px 0;
}

.multi-inputs input{
    width: 80%;            
    max-width: 300px;
    text-align:center;
    align-self: center;    
}


/* Estilos dinámicos para P6 */
.color-inputs{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin:14px 0;
}

.color-inputs input{
    width:70%;
    max-width:100px;
    padding:10px;
    border-radius:8px;
    border:none;
    font-size:18px;
    font-weight:700;
    text-align:center;
    color:white;
}

/* Fondos por color */
#redInput { background-color: #ED2424; }
#greenInput { background-color: #24ED6B; }
#blueInput { background-color: #2499ED; }

#pageTitle{
    font-family: 'Horizon', sans-serif;
    font-weight:700;
    font-size:2rem;
    margin-bottom:20px;
}

#validateBtn{
    font-family: 'Consolas', sans-serif;
    font-weight:700;
    /* El resto de propiedades del botón ya están en button{} */
}

.ok{
    color: #22c55e; /* mismo verde que el botón */
    margin-top: 20px;
    font-weight: 700; /* opcional para resaltar */
}
.fail{
    color: #fca5a5; /* rojo más suave */
    margin-top: 20px;
    font-weight: 700; /* opcional */
}











